.card-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 15px 5px #ff8080, -9px 5px 15px 5px #ffe488,
    -7px -5px 15px 5px #8cff85, 12px -5px 15px 5px #80c7ff,
    12px 10px 15px 7px #e488ff, -10px 10px 15px 7px #ff616b,
    -10px -7px 27px 1px #8e5cff, -22px -28px 15px -19px rgba(0, 0, 0, 0);
  width: 10%;
  height: auto;
}

.card-buttons-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.card-buttons {
  background-color: #a6ffa5;
  border: none;
  border-radius: 2.5em;
  height: 2em;
  width: 2em;
}
