.card-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  border: 2px solid black;
  border-radius: 10px;
  width: 100%;
  height: auto;
  margin-top: 10%;
}

.card-buttons-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.card-buttons {
  background-color: #a6ffa5;
  border: none;
  border-radius: 2.5em;
  height: 2em;
  width: 2em;
}
